/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: green;
}

.logo {
    font-size: 40px;
    color: greenyellow
}

/* BODY */

main {
    min-height: 100vh;
    max-height: fit-content;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white
}

form {
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
}

#location-input {
   width: 200px;
   background-color: inherit;
   border: none;
   border-right: 3px solid black;
}

#address-input {
    width: 200px;
    background-color: inherit;
    border: none;  
    padding-left: 1rem;
}

#search-button {
    border: none;  
    border-radius: 100%;
    background-color: orangered;
    color: white;
}

#button-icon {
    font-size: 28px;
    margin-top: 20%;
}

/* CARD */

.card {
    margin-top: 1rem;
    background-color: lightblue;
    color: black;
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

/* MAP */

.leaflet-container {
    width: 100%;
    height: 100vh;
}

/* FOOTER */

footer {
    background-color: green;
}

h4 {
    margin: 0;
}
